html {
  direction: rtl;
}

.green-bg {
  background-color: #51dcc5;
}

.green-text {
  color: #51dcc5;
}

.purple-text {
  color: purple;
}

.blue-text {
  color: rgb(74, 74, 250);
}

.orange-text {
  color: orange;
}

.green-border {
  border: 3px solid #51dcc5;
}

.mg-auto {
  margin: auto;
}

.semi-pill-border {
  border-radius: 20px 20px 20px 0px;
  width: 116px;
  height: 6vh;
  text-align: center;
  margin-top: 16vh;
  margin-bottom: 1vh;
}

.icon {
  margin-right: 1vw;
}

.icon-info {
  font-weight: 500;
}

.contact-info {
  margin-top: 5vh;
}

.light-gray-border {
  width: 250px;
  height: 250px;
  top: -24px;
  left: -25px;
}

.gray-border {
  background-color: #c4c1c1;
  width: 225px;
  height: 225px;
  top: -12px;
  left: -13px;
}

.m-t-18 {
  margin-top: 18vh;
}

#alex-img {
  width: 200px;
  height: 200px;
}

.height-200 {
  height: 200px;
}

.height-190 {
  height: 190px;
}

.mt-12 {
  margin-top: 12rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.hire-btn {
  width: 100px;
}

#girl-img {
  width: 80px;
  height: 80px;
}

.contact-icon-div {
  width: 70px;
  height: 70px;
}

.ml-11 {
  margin-left: 11vw;
}

.contact-icon {
  padding-top: 1.25rem;
}

.px-5-r {
  padding-left: 5rem;
  padding-right: 5rem;
}

.price-icon {
  font-size: 2rem;
}

.do-icon {
  font-size: 1.5rem;
}

#msg-btn {
  width: 100%;
}

#map {
  height: 33vh;
  width: 43vw;
}

#img-box-ar {
  margin-left: 27vw;
}

@media only screen and (max-width: 991px) {
  #hello-img-box {
    order: 1;
    height: 279px;
  }

  #hello-left-content {
    order: 2;
  }

  #about-img {
    margin-bottom: 2rem;
  }

  .center-content {
    text-align: center;
  }

  h2 {
    justify-content: center;
  }

  .elephant-img {
    width: 78%;
  }

  .contact-icon-div {
    margin-left: 12rem;
  }

  .contact-icon {
    margin-left: 1.52rem;
  }

  #map {
    padding-top: 2rem;
    width: 100%;
  }
  #circles-ar {
    padding-left: 12rem;
  }
}

@media only screen and (min-width: 992px) {
  .hidden {
    color: white;
  }

  .center-after-hidden {
    padding-left: 6rem;
    padding-bottom: 8rem;
  }

  .contact-icon {
    margin-left: 1.5rem;
  }

  #circles-ar {
    padding-right: 12rem;
  }

  .contact-icon-div-ar {
    margin-right: 23vh;
  }

  .contact-icon-ar {
    margin-right: 3.8vh;
  }
}
